#content
    .image-list
        grid-template-columns: repeat(4, 1fr)
        display: grid
        padding: 16px
        gap: 16px
        .image-item
            list-style: none
            border-radius: 8px
            overflow: hidden
            img
                border-radius: 8px
                width: 100%