<div class='upload-container'>
    <div class='upload-item upload-form'>
        <div class='upload-icon upload-child'>
            <i class='fa-solid fa-upload'></i>
        </div>
        <div class='upload-title upload-child'>
            <h3>Drag and drop files</h3>
            or
        </div>
        <input type='file' name='filesData[]' id='filesData' multiple />
        <label
            for='filesData'
            class='btn btn-primary upload-child'
        >Browse</label>
    </div>

    <div class='upload-item list'>
        <ul class='upload-files__list'>
        </ul>
    </div>
</div>

<link rel='stylesheet' href='/css/upload.css'/>
<script src='/js/upload.js'></script>