<ul class='video-list media-list'>
    {{#each videos}}
        <li class='video-item media-item-wrap'>
            <video width='320' height='240' controls>
                <source
                    src='{{this.path}}'
                    type='{{this.mimetype}}'
                    class='media-item'
                    data-index='{{@index}}'
                    data-id='{{this.id}}'
                />
                Your browser does not support video player.
            </video>
        </li>
    {{/each}}
</ul>

<div class='media-modal closed'>
    <div class='overlay'></div>
    <div class='media-icon times'>
        <i class='fa-regular fa-circle-xmark'></i>
    </div>

    <div class='media-icon arrow prev'>
        <i class='fa-solid fa-arrow-left'></i>
    </div>

    <div class='media-content'>
        <img
            class='media-image'
            src='https://cdn.dribbble.com/users/136981/screenshots/4363062/media/c80d0a952332b0bb311d5c3ad7e202e1.png?resize=400x0'
            alt='Image'
            loading='eager'
        />
    </div>

    <div class='media-icon arrow next'>
        <i class='fa-solid fa-arrow-right'></i>
    </div>
</div>

<link rel='stylesheet' href='/css/media.css' />
<link rel='stylesheet' href='/css/video.css' />