#content .media-list {
  grid-template-columns: repeat(8, 1fr);
  display: grid;
  padding: 16px;
  gap: 16px; }
  #content .media-list .media-item-wrap {
    list-style: none;
    border-radius: 8px;
    overflow: hidden; }
    #content .media-list .media-item-wrap img {
      border-radius: 8px;
      width: 100%; }

.media-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .media-modal .overlay {
    background: rgba(0, 0, 0, 0.75);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    position: absolute; }
  .media-modal .media-icon {
    font-size: 32px;
    cursor: pointer;
    user-select: none; }
    .media-modal .media-icon.times {
      position: absolute;
      top: 25px;
      right: 25px; }
    .media-modal .media-icon.arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fafafa;
      border-radius: 50%;
      width: 40px;
      height: 40px; }
      .media-modal .media-icon.arrow i {
        color: #111; }
  .media-modal .media-content {
    display: flex;
    justify-content: center;
    align-items: center; }
    .media-modal .media-content img {
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
      box-shadow: 0 0 12px rgba(255, 255, 255, 0.01);
      border-radius: 12px;
      max-height: 70vh;
      max-width: calc(80vw - 40px - 12px); }

.media-modal.closed {
  display: none; }

@media screen and (max-width: 1023px) {
  #content .media-list {
    grid-template-columns: repeat(6, 1fr); } }

@media screen and (max-width: 767px) {
  #content .media-list {
    grid-template-columns: repeat(4, 1fr); } }

@media screen and (max-width: 500px) {
  #content .media-list {
    grid-template-columns: repeat(3, 1fr); } }
