.container {
  height: 100vh; }

.upload-container {
  display: flex;
  padding: 24px;
  height: 60vh;
  align-items: center;
  border-radius: 12px;
  background-color: #212529;
  margin: 36px; }
  .upload-container .upload-item {
    text-align: center;
    vertical-align: middle;
    padding-right: 48px; }
    .upload-container .upload-item.upload-form {
      padding: 24px; }
    .upload-container .upload-item.list {
      padding: 0 0 0 24px;
      display: flex;
      justify-content: center;
      background: #3e4246;
      border-radius: 12px;
      height: 100%;
      overflow: hidden; }
      .upload-container .upload-item.list .upload-files__list {
        display: flex;
        gap: 12px;
        flex-direction: column;
        overflow: scroll; }
        .upload-container .upload-item.list .upload-files__list .upload-file__item {
          display: flex;
          gap: 16px;
          align-items: center; }
          .upload-container .upload-item.list .upload-files__list .upload-file__item:first-child {
            margin-top: 24px; }
          .upload-container .upload-item.list .upload-files__list .upload-file__item:last-child {
            margin-bottom: 24px; }
          .upload-container .upload-item.list .upload-files__list .upload-file__item .upload-file__icon {
            border: 2px solid #fff;
            border-radius: 100%;
            height: 50px;
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            overflow: hidden;
            text-overflow: ellipsis; }
            .upload-container .upload-item.list .upload-files__list .upload-file__item .upload-file__icon .upload-file__type {
              padding: 5px;
              overflow: hidden;
              text-overflow: ellipsis; }
          .upload-container .upload-item.list .upload-files__list .upload-file__item .upload-file__info {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;
            padding-right: 64px;
            height: 50px; }
            .upload-container .upload-item.list .upload-files__list .upload-file__item .upload-file__info .upload-file__name {
              font-size: 20px;
              margin-top: -2px; }
            .upload-container .upload-item.list .upload-files__list .upload-file__item .upload-file__info .upload-file__progress {
              font-size: 10px;
              font-weight: 600; }
          .upload-container .upload-item.list .upload-files__list .upload-file__item .upload-file__status {
            margin-right: 24px; }
            .upload-container .upload-item.list .upload-files__list .upload-file__item .upload-file__status i {
              font-size: 24px; }
    .upload-container .upload-item .upload-child {
      margin: 24px;
      user-select: none; }
      .upload-container .upload-item .upload-child.upload-icon i {
        font-size: 48px; }

.btn {
  padding: 12px;
  border-radius: 6px;
  border: 2px solid #ccc;
  user-select: none;
  cursor: pointer; }
  .btn.btn-primary {
    border: none;
    background: #03a9f4;
    color: #fff; }
