#content .media-list {
  grid-template-columns: repeat(4, 1fr); }

@media screen and (max-width: 1023px) {
  #content .media-list {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (max-width: 767px) {
  #content .media-list {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 500px) {
  #content .media-list {
    grid-template-columns: repeat(1, 1fr); } }
