<nav class="nav">
    <div class="nav-item">
        <a href="/" class="nav-link"><h3>Kai Gallery</h3></a>
        <a href="/upload" class="nav-link">Upload</a>
        {{!-- <a href="/list" class="nav-link">list</a> --}}
        <a href="/media/images" class="nav-link">Images</a>
    </div>
</nav>