<div class="upload-container">
    <div class="upload-item upload-form">
        <div class="upload-icon upload-child">
            <i class="fa-solid fa-upload"></i>
        </div>
        <div class="upload-title upload-child">
            <h3>Drag and drop files</h3> 
            or
        </div>
        <input type="file" name="filesData[]" id="filesData" multiple>
        <label for="filesData" class="btn btn-primary upload-child">Browse</label>
    </div>

    <div class="upload-item list">
        <ul class="upload-files__list">
            <li class="upload-file__item">
                <div class="upload-file__icon">
                    <p class="upload-file__type">
                        png
                    </p>
                </div>
                <div class="upload-file__info">
                    <div class="upload-file__name">
                        image.png
                    </div>
                    <div class="upload-file__progress">
                        1.46mb/2.34mb
                    </div>
                </div>
                <div class="upload-file__status">
                    <i class="fa-regular fa-circle-xmark"></i>
                    {{!-- <i class="fa-solid fa-check check"></i> --}}
                </div>
            </li>
        </ul>
    </div>
</div>



<link rel="stylesheet" href="/css/upload.css">
<script src="/js/upload.js"></script>
